<html>
<head>
<title>Angular JS Controller</title>
</head>
<body>
<h2>AngularJS Sample Application</h2>
<div ng-app="" ng-controller="studentController">
<table border="2">
    <tr>
    <td> Enter Name:   </td>
    <td> <input type="text" ng-model= "student.firstName"></td></tr>
    <tr>
    <td> Last Name:   </td>
    <td><input type ="text" ng-model = "student.lastName" ></td></tr>
    <tr>
     <td>
    Name: </td>
    <td>
        {{student.fullname() | uppercase}}

        </td>
    </tr>
    <tr>
    <td>

        subject</td>
        <td>
        <table border="1" style="color:blue">
            <tr>
            <td><b>Name</b></td><td>Marks</td>
            </tr>
            <tr ng-repeat = "sub in student.subjects">
            <td align="center">{{sub.name}} </td><td>{{sub.marks}}</td>

            </table>

        </td>
    </tr>




    </table>


<p>fees: <input type="text"  ng-model = "student.fees"  </p>
<p> </p>
<p>FullName: {{student.fullname() | uppercase}}</p>
<p>Fees : {{student.fees | currency}} </p>
<p ng-repeat= "sub in student.subjects">
    {{sub.name}} : {{sub.marks}}

    </p>
    </br>
    </br>

    </div>
<script>
function studentController($scope) {
 $scope.student = {
 firstName: "Mahesh",
 lastName: "Parashar",
 fees:500,
 subjects: [{name:"maths",marks:70},{name:"chemistry",marks:80}],
 fullname:function(){
     var chas = $scope.student;
     return chas.firstName+" "+chas.lastName;

 }



 };
}
</script>

<script
src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/
angular.min.js">
</script>


</body>


</html>
